@import 'bourbon/bourbon'
@import 'reset'

$ff: 'Avenir Next', 'Helvetica Neue', Arial, sans-serif
$fs: 18px
$gutter: 20px

=font-normalize
  font:
    family: $ff
    size: $fs

body
  +font-normalize
  background: hsl(0, 0, 96)
  text-align: center

a:link, a:visited
  text-decoration: none

$header-height: 72px
.header
  background: hsl(0, 0, 94)
  display: block
  height: $header-height
  margin-bottom: $gutter

  h1
    color: hsl(0, 0, 72)
    display: block
    font:
      size: $fs
      weight: 600
    letter-spacing: 2px
    line-height: $header-height
    text:
      transform: uppercase

.content
  height: auto
  overflow: hidden
  width: 100%

.grid-container
  background: hsl(0, 0, 98)
  margin: 0 auto
  margin-bottom: $gutter * 2
  position: relative

.grid-item
  display: inline-block
  font-size: 0
  position: absolute

.grid-item img
  display: block
  width: 100%
