!!!
%html
  %head
    %title stackgrid.adem.js
    %meta{charset: 'utf-8'}

    %link{href: 'css/style.css', rel: 'stylesheet'}

  %body
    #header
      %h1
        %a{href: 'https://github.com/heyadem/stackgrid.adem.js', target: '_blank'} stackgrid.adem.js

    #control
      %a.control-button.-one{href: ''} Small
      %a.control-button.-two{href: ''} Medium
      %a.control-button.-three{href: ''} Large
      %a.control-button.-four{href: ''} Gutter On
      %a.control-button.-five{href: ''} Gutter Off
      %a.control-button.-six{href: ''} Optimized
      %a.control-button.-seven{href: ''} Ordinal
      %a.control-button.-eight{href: ''} Fluid
      %a.control-button.-nine{href: ''} Set columns
      %a.control-button.-ten{href: ''} Clear
      %a.control-button.-eleven{href: ''} Width 320
      %a.control-button.-twelve{href: ''} Width 200
      %a.control-button.-thirteen{href: ''} width 120

    #content
      .grid-container
        .grid-item
          %img{src: 'img/short.jpg', alt: ''}
        .grid-item
          %img{src: 'img/tall.jpg', alt: ''}
        .grid-item
          %img{src: 'img/medium.jpg', alt: ''}
        .grid-item
          %img{src: 'img/tall.jpg', alt: ''}
        .grid-item
          %img{src: 'img/short.jpg', alt: ''}
        .grid-item
          %img{src: 'img/medium.jpg', alt: ''}
        .grid-item
          %img{src: 'img/medium.jpg', alt: ''}
        .grid-item
          %img{src: 'img/short.jpg', alt: ''}
        .grid-item
          %img{src: 'img/medium.jpg', alt: ''}

    // scripts
    %script{src: '../stackgrid.adem.js'}
    %script{src: 'js/vendor/velocity.js'}
    %script{src: 'js/vendor/onimgload.adem.js'}
    %script{src: 'js/example.js'}
