!!!
%html
  %head
    %title stack-up.js
    %meta{charset: 'utf-8'}
    %meta{content: 'initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width', name: 'viewport'}
    %link{href: 'css/style.css', rel: 'stylesheet'}

  %body
    #header
      %h1
        %a{href: 'https://github.com/heyadem/stack-up', target: '_blank'} stack-up.js

    #content
      .grid-container
        .grid-item
          %img{src: 'img/short.jpg', alt: ''}
        .grid-item
          %img{src: 'img/tall.jpg', alt: ''}
        .grid-item
          %img{src: 'img/medium.jpg', alt: ''}
        .grid-item
          %img{src: 'img/tall.jpg', alt: ''}
        .grid-item
          %img{src: 'img/short.jpg', alt: ''}
        .grid-item
          %img{src: 'img/medium.jpg', alt: ''}
        .grid-item
          %img{src: 'img/medium.jpg', alt: ''}
        .grid-item
          %img{src: 'img/short.jpg', alt: ''}
        .grid-item
          %img{src: 'img/medium.jpg', alt: ''}

    // javascripts
    %script{src: '../stack-up.js'}
    %script{src: 'js/demo.js'}
