!!!
%html
  %head
    %title stackgrid.adem.js
    %meta{charset: 'utf-8'}
    %meta{content: 'initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width', name: 'viewport'}
    %link{href: 'css/style.css', rel: 'stylesheet'}

  %body
    #header
      %h1
        %a{href: 'https://github.com/heyadem/stackgrid.adem.js', target: '_blank'} stackgrid.adem.js

    #control
      %a.control-button.-one{href: ''} Small
      %a.control-button.-two{href: ''} Medium
      %a.control-button.-three{href: ''} Large
      %a.control-button.-four{href: ''} Gutter - 20
      %a.control-button.-five{href: ''} Layout - optimized
      %a.control-button.-six{href: ''} isFluid - false
      %a.control-button.-seven{href: ''} numberOfColumns - 4
      %a.control-button.-eight{href: ''} Width - 220
      %a.control-button.-nine{href: ''} Clear

    #content
      .grid-container
        .grid-item
          %img{src: 'img/short.jpg', alt: ''}
        .grid-item
          %img{src: 'img/tall.jpg', alt: ''}
        .grid-item
          %img{src: 'img/medium.jpg', alt: ''}
        .grid-item
          %img{src: 'img/tall.jpg', alt: ''}
        .grid-item
          %img{src: 'img/short.jpg', alt: ''}
        .grid-item
          %img{src: 'img/medium.jpg', alt: ''}
        .grid-item
          %img{src: 'img/medium.jpg', alt: ''}
        .grid-item
          %img{src: 'img/short.jpg', alt: ''}
        .grid-item
          %img{src: 'img/medium.jpg', alt: ''}

    // scripts
    %script{src: '../stackgrid.adem.js'}
    %script{src: 'js/vendor/velocity.js'}
    %script{src: 'js/vendor/onimgload.adem.js'}
    %script{src: 'js/example.js'}
