!!!
%html{lang: 'en'}
  %head
    %title stackgrid.adem.js
    %meta{charset: 'UTF-8'}
    %link{href: 'css/style.css', rel: 'stylesheet'}

  %body
    #header
      %h1 stackgrid.adem.js
    #control-top
      .control-button.one Small
      .control-button.two Medium
      .control-button.three Large
      .control-button.four Gutter On
      .control-button.five Gutter Off
      .control-button.six Optimized
      .control-button.seven Ordinal
      .control-button.eight Fluid
      .control-button.nine Set columns
      .control-button.ten Clear
      .control-button.eleven Width 320
      .control-button.twelve Width 200

    #wrapper
      .grid-wrapper
        .grid-item
          %img{src:'http://conceptartworld.com/wp-content/uploads/2015/04/2DArtist_Issue_111_Mar15_unlocked_Page_001-680x967.jpg'}
        .grid-item
          %img{src:'http://conceptartworld.com/wp-content/uploads/2015/04/2DArtist_Issue_111_Mar15_unlocked_Page_006-680x478.jpg'}
        .grid-item
          %img{src:'http://conceptartworld.com/wp-content/uploads/2015/04/2DArtist_Issue_111_Mar15_unlocked_Page_016-680x961.jpg'}
        .grid-item
          %img{src:'http://conceptartworld.com/wp-content/uploads/2015/04/2DArtist_Issue_111_Mar15_unlocked_Page_020-680x480.jpg'}
        .grid-item
          %img{src:'http://conceptartworld.com/wp-content/uploads/2015/04/2DArtist_Issue_111_Mar15_unlocked_Page_026-680x962.jpg'}
        .grid-item
          %img{src:'http://conceptartworld.com/wp-content/uploads/2015/04/2DArtist_Issue_111_Mar15_unlocked_Page_038-680x961.jpg'}
        .grid-item
          %img{src:'http://conceptartworld.com/wp-content/uploads/2015/04/2DArtist_Issue_111_Mar15_unlocked_Page_044-680x480.jpg'}
        .grid-item
          %img{src:'http://conceptartworld.com/wp-content/uploads/2015/04/2DArtist_Issue_111_Mar15_unlocked_Page_063-680x961.jpg'}
        .grid-item
          %img{src:'http://conceptartworld.com/wp-content/uploads/2015/04/2DArtist_Issue_111_Mar15_unlocked_Page_084-680x961.jpg'}
    #control-bottom
      %input.control-input.one{type: 'url'}
      .control-button.bottom-one Go

    // Javascripts.
    %script{src: 'js/vendor/raf.js'}
    %script{src: 'js/vendor/jquery.js'}
    %script{src: 'js/vendor/transit.js'}
    %script{src: 'js/vendor/velocity.js'}

    %script{src: 'js/plugins/imgload.adem.js'}
    %script{src: 'js/stackgrid.adem.js'}

    %script{src: 'js/website.js'}
