@import vendor/reset
@import bourbon

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic)

$background-color: white
$base-gutter: 40px

$base-font-family: 'Lato', helvetica, arial, sans-serif
$base-font-size: 16px

body
  background: $background-color
  font:
    family: $base-font-family
    size: $base-font-size
  text:
    align: center

a:link,
a:visited
  text:
    decoration: none

$header-height: 96px
$header-background-color: #F2FBFF

#header
  background:
    color: $header-background-color
  height: $header-height
  line-height: $header-height
  width: 100%
  z-index: 10

  h1
    line-height: $header-height

  a:link,
  a:visited
    display: inline-block
    color: #80D4FF
    font:
      size: 42px
    line-height: $header-height

#control
  background:
    color: #80D4FF
  text:
    align: center
  font:
    size: 0
  width: 100%
  z-index: 20

#content
  margin: $base-gutter 0
  height: auto
  overflow: hidden
  width: 100%

.grid-container
  background:
    color: #F2FBFF
  position: relative
  margin: 0 auto

.grid-item
  display: inline-block
  font:
    size: 0
  position: absolute


.grid-item img
  cursor: pointer
  display: block
  width: 100%

a.control-button
  @include transition( 0.1s ease )
  background:
    color: #80D4FF
  color: white
  cursor: pointer
  display: inline-block
  font:
    size: 16px
    weight: 300
  letter-spacing: 1px
  padding: 1em

  &:hover
    background:
      color: #40BFFF

  &:active
    background:
      color: #00AAFF
