/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #FCFCFC;
  font-family: "Lato", helvetica, arial, sans-serif;
  font-size: 16px;
  text-align: center; }

a:link,
a:visited {
  text-decoration: none; }

#header {
  background-color: #FCFCFC;
  height: 72px;
  line-height: 72px;
  width: 100%;
  z-index: 10; }
  #header h1 {
    line-height: 72px; }
  #header a:link,
  #header a:visited {
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;
    transition: 0.1s ease;
    color: #40DFFF;
    display: inline-block;
    font-size: 32px;
    font-weight: 400;
    line-height: 72px; }
    #header a:link:hover,
    #header a:visited:hover {
      color: #00D4FF; }
    #header a:link:active,
    #header a:visited:active {
      color: #00AAFF; }

#control {
  background-color: #40DFFF;
  font-size: 0;
  text-align: center;
  width: 100%;
  z-index: 20; }

a.control-button {
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  transition: 0.1s ease;
  background-color: #40DFFF;
  border-left: 1px solid #00D4FF;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0.75em 1em; }
  a.control-button:hover {
    background-color: #00D4FF; }
  a.control-button:active {
    background-color: #00AAFF; }

#content {
  height: auto;
  margin: 20px;
  overflow: hidden;
  width: 90%;
}

.grid-container {
  background-color: #F9F9F9;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  margin: 20px auto;
  position: relative; }

.grid-item {
  display: inline-block;
  font-size: 0;
  position: absolute; }

.grid-item img {
  cursor: pointer;
  display: block;
  width: 100%; }
